{% extends 'base.html' %}
{% block title %}
    О нас
{% endblock title %}
{% block style %}
    {% include 'inc-style.html' %}
{% endblock style %}
{% block menu %}
    {% include 'inc-menu.html' %}
{% endblock menu %}
{% block body %}
    <h1>О нас</h1>
    <p>Сегодня: {{data}} <b>(дата подставляется шаблоном)</b></p>
    <p>Тут описание, о том какие мы крутые!Тут описание, о том какие мы крутые!Тут описание, о том какие мы крутые!
        Тут описание, о том какие мы крутые!Тут описание, о том какие мы крутые!Тут описание, о том какие мы крутые!
        Тут описание, о том какие мы крутые!Тут описание, о том какие мы крутые!Тут описание, о том какие мы крутые!
    </p>

    <ul>
        <li>Мы крутые!</li>
        <li>Мы очень крутые!</li>
        <li>Мы лучше всех!</li>
    </ul>
{% endblock body %}