{% extends "base.html" %}
{% block title %}
Создание студента
{% endblock %}
{% block style %}
	{% include "inc-style.html" %}
{% endblock %}
{% block menu %}
	{% include "inc-menu.html" %}
{% endblock %}
{% block body %}
<div>
    <li>
        <a href="/create_student/">Создать студента</a>
    </li>
    <li>
        <a href="/add_student/">Добавить студента на курс</a>
    </li>
</div>
<div>
    {% for item in object_list %}
        <li>
            {{ item.name }}
            {% for course in item.courses %}
                {{ course.name }}
            {% endfor %}
        </li>
    {% endfor %}
</div>
{% endblock %}
